<% layout('./layouts/boilerplate') -%>

<body> 
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="row">
            <div class="col-8 offset-2">
                <h3>Edit your Listings</h3>
                
                <div class="mb-3">
                    <label for="title" class="form-label"></label>
                    <input type="text" name="listing[title]" placeholder="enter type" class="form-control" value="<%= listing.title %>" required>
                    <div class="invalid-feedback">
                        Please provide a title.
                    </div>
                    <div class="valid-feedback">Title looks good</div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label"></label>
                    <textarea name="listing[description]" placeholder="enter a description" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">
                        Please provide a description.
                    </div>
                    <div class="valid-feedback">Description looks good</div>
                </div>
                
                <div class="mb-3">
                    Orginal Image
                    <br>
                    <img src="<%= originalImageUrl %>" alt="">
                </div>
                
                
                <div class="mb-3">
                    <label for="image" class="form-label"></label>
                    <input type="file" name="listing[image]"  class="form-control"  >
                </div>
                
                
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label"></label>
                        <input type="number" name="listing[price]" placeholder="enter price" class="form-control" value="<%= listing.price %>" required>
                        <div class="invalid-feedback">
                            Please provide a price.
                        </div>
                    </div>
                    
                    <div class="col-md-8">
                        <label for="country" class="form-label"></label>
                        <input type="text" name="listing[country]" placeholder="enter country" class="form-control" value="<%= listing.country %>" required>
                        <div class="invalid-feedback">
                            Please provide a country.
                        </div>
                    </div>
                </div>
                
                <div class="mb-5">
                    <label for="location" class="form-label"></label>
                    <input type="text" name="listing[location]" placeholder="enter location" class="form-control" value="<%= listing.location %>" required>
                    <div class="invalid-feedback">
                        Please provide a location.
                    </div>
                </div>
                
                <button class="btn">Edit Post</button>
            </div>
        </div>
    </form>
</body>

